/* .box-one{
    float: left;
    width: 300px;
    height: 300px;
    background-image: url(../image/logo.jpg);
    margin: 100px;
    transform: rotateY(0deg);
    transition: all 2s;
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   transform: skewY(-50deg);
   transition: all 2s;
}
.box-one:hover{
   background-image: url(../image/banner.jpg);
    transform: rotateY(90deg);
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
 */

 .box-one{
    float: left;
    width: 50px;
    height: 300px;
    margin: 100px;
    background-color: green;
    transform: skew(-30deg);
 }
 .box-two{
    float: left;
    width: 50px;
    height: 300px;
    margin-top: 100px;
    margin-left: 22px;
    background-color: green;
    transform: skew(30deg);
 }

 .box-three{
    float: left;
    width: 200px;
    height: 50px;
    margin-top: 250px;
    margin-left: -200px;
    background-color: green;
 }
 .div-one{
     height: 300px;
     width: 200px;
     background: linear-gradient(red, blue,green);

     float: left;
     margin-left: 140px;
     margin-top: 100px;
     transform: skewY(30deg);
 }
 .div-two{
    height: 300px;
    width: 200px;
    background: linear-gradient(red, blue,green);

    float: left;
    margin-left: 10px;
    margin-top: 100px;
    transform: skewY(-30deg);
}

.div{
    float: left;
    height: 300px;
    width: 400px;
    margin: 100px;
    /* background: linear-gradient(to left,red, blue,green); */
    background: radial-gradient(red,green,blue);

}

.new-div{
    width: 100%;
    float: left;
    height: 400px;
    background: url(../image/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.new-div-one{
    width: 100%;
    float: left;
    height: 400px;
    background-color: yellow;

}

.new-div-two{
    width: 100%;
    float: left;
    height: 400px;
    background-color: green;
}
.contant{
    color: white;
    padding: 100px;
    font-family: bitm;

}
@font-face {
    font-family: bitm;
    src: url(../fonts/Lora-Italic-VariableFont_wght.ttf);
}
h1{
    font-family: bitm;
}
*{
    font-family: bitm;
}
