/* .bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-grey{
    background-color: grey;
}
.box-one{
    height: 200px;
    width: 20%;
    background-color: green;
    float: left;
}
.box-two{
    height: 200px;
    width: 80%;
    background-color: red;
    float: left;
}
.box-three{
    height: 50px;
    width: 100%;
    background-color: sienna;
    float: left;
}
.box-four{
    height: 600px;
    width: 20%;
    background-color: teal;
    float: left;
}
.box-five{
    height: 600px;
    width: 80%;
    background-color:black;
    float: left;
}
.box-six{
    height: 40px;
    width: 100%;
    background-color: burlywood;
    float: left;
} */

.div-one{
height: 300px;
width: 400px;
background-color: red;
float: left;
color: aliceblue;
/* margin: 20px 10px 60px 70px; */
padding: 30px;
}
.div-two{
    height: 400px;
    width: 500px;
    background-color: green;
    float: left;
}