*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;

}


.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}



[class*='col-']{
    /* border:1px solid red; */
    float:left;
}


.row:after{
    content:' ';
    clear:both;
    display:block;
}



.container{
    width:85%;
    height:auto;
    margin:0 auto;
}



.h-50{height:50px;}
.h-100{height:100px;}
.h-150{height:150px;}
.h-200{height:200px;}
.h-250{height:250px;}
.h-300{height:300px;}
.h-350{height:350px;}
.h-400{height:400px;}
.h-450{height:450px;}
.h-500{height:500px;}
.h-550{height:550px;}
.h-600{height:600px;}




/* Content color & Bg color */
.bg-light-dark{background-color: #20272F;}
.bg-light{background-color: #E9E8EC;}
.bg-bark{background-color: black;}
.text-white{color:#7F8997}
.text-white-d{color: #B59CA5;}
.float-right{float:right;}
.float-left{float:left;}
.font-sans{font-family:sans-serif;}


/* padding */
.py-10{
    padding-top: 10px; 
    padding-bottom:10px;
    }
/* Margin  */
.mr-5{margin-right: 5px;}
.ml-5{margin-left: 5px;}




.header-content{
    float:right;
    padding-top: 4px;
    padding-bottom: 3px;
}

.header-content p{
    padding-left: 10px;
    padding-right: 20px; 
    /* kijh */
}
.header-content-line{
    float: left;
    width: 1px;
    height: 40px;
    border: 1px solid #CFCFD0;
}
.ml-10{
    margin-left: 10px;
}
/* .w-100{width: 100%;} */
.banner{
    background-image: url("../img/1.jpg");
    background-size: cover;
    height: 450px;
}
.menu{
    float: left;
}
.menu ul{
    background-color: #13A0B2;
    list-style: none;
    float: left;
}
.menu ul li{
    float: left;
    width: 120px;
}
.menu ul li a{
    color: whitesmoke;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    text-transform: uppercase;
}
.mw-100{width: 10%;}

.banner-content-rapper{
    /* background-color: red; */
    width: 45%;
    padding: 10px;
    margin-top: 130px;
    margin-left: 250px;
    color: white;

}
.banner-content-line{
    width: 120px;
    height: 2px;
    background-color: yellow;
    margin-top: 13px;
    margin-bottom: 15px;
}
.banner-content-rapper p{
    font-style: italic;
    margin-bottom: 15px;
}
.btn{
    background-color: red;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}
.my-icon{
    margin-left: 10px;
    border-left: 1px solid grey;
    padding-left: 10px;
}
.bg-yellow{
    background-color: yellow;
}
.bg-siv{
    background-color: turquoise;
}
.text-block{
    color: black;
}
.mr-10{margin-right: 10px;}
.text-right{
    text-align: right;
}
.py-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.service-heading h1{
    border-right: 1px solid grey;
    padding-right: 10px;
}
.service-content p{
    padding-left: 10px;

}